@use '../utils/mixins';
@use '../utils/variables' as v;


body {
    font-family: 'Roboto';
    max-width: 1440px;
    margin: 0 auto;

    #root {
        display: grid;
        grid-template-rows: 90px minmax(690px, auto);
        grid-template-columns: 110px auto;

        main {
            display: grid;
            grid-row: 2 / 3;
            grid-column: 2 / 3;
            margin: 55px 55px 40px 85px;
        }
    }
}
